*{
    
    padding: 0px;
    margin: 0px;
}
body{
 font-family: 'Roboto' , sans-serif;
 display: flex;
 flex-direction: column;
 
}

.Header-logo{
    color: #f9faf8;    
    margin-left: 20px ;
    font-size: 24px;
    padding-left: 20px;
    
}
.Header{
    background-color: #1F2937;
    
}

ul,a {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0px 30px;
    
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px ;   
}
.Header-Body{
    display: flex;
    margin: 50px;
}
h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.title-sub{
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 10px;
}
.hdright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    }
img{
    
    margin: 50px;
}
.hdleft{
    display: flex;
    padding-top: 50px;
    margin-left: 20px;
    flex-direction: column;
    width: 50%;
    font-size: 18px;
}
.First-signup{
    width: 50px;
    
   border: 1px solid #3882f6;
    height: 40px;
    color: white;
    width: 100px;
    background-color: #3882f6;
    border-radius: 10px;
}


.title-two{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.images-container{
 display: flex;
 justify-content: center;
 
}
.Blue-container{
    border: 2px solid blue;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: flex;               /* Center image */
    justify-content: center;    /* Center image */
    align-items: center;         /* Center image */
    

}
p{
    text-align: center;
}

.Body{
    display: flex;
    flex-direction: column;
}
.Quote{
    margin-top: 100px;
    
    padding: 80px;
    font-size: 36px;
    font-style: light italic;
    background-color: #E5E7EB;
    color: #1F2937;
}
.blue-message{
    display: flex;
    background-color: #3882f6;
    color: white;
    margin: 90px;
    padding: 35px;
   justify-content: space-around;
   align-items: center;
    border-radius: 10px;
}
.last-signup{
    border: 1px solid white;
    background-color: #3882f6;
    color: white;
    height: 30px;
    width: 65px;
    border-radius: 5px;
}
h4{
    font-size: 24px;
}
.Footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    
}